@import "variables.scss";

.root {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: $blue;
  color: white;
  min-width: 120px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.isBlock {
  width: 100%;
  display: block;
}
