@import 'variables.scss';

.root {
  padding: 8px 12px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #ccc;
  border-radius: 6px;
  max-width: 128px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.input {
  -webkit-appearance: checkbox;
  display: none;
}

label {
  cursor: pointer;
}

.checkbox {
  position: relative;
}

.checkbox::after {
  width: 20px;
  height: 20px;
  position: absolute;
  content: '';
  border: 2px solid #ccc;
  left: 110%;
  top: -2px;
  border-radius: 3px;
  transition: 0.2s;
}

.input:checked + .checkbox::after {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: transparent #6980fe #6980fe transparent;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
  width: 14px;
  height: 22px;
  top: -4px;
}
