/* stylelint-disable */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

textarea, input, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,fieldset, a img {
  border: none;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  overflow: auto;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
input[type="submit"],
button {
  cursor: pointer
}

button {
  -webkit-appearance: none;
  background: none;
  display: inline-block;
  color: inherit;
  font-size: inherit;
}

div, input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
  outline: none;
}
ul,ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/* stylelint-enable */

body {
  background: #f9fafa;
}

body,
input,
textarea,
button {
  font: 400 14px/120% -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333;
}
