
.main {
  padding: 40px;
}

body {
  background: #f9fafa;
}

body,
input,
textarea,
button {
  font: 400 14px/120% -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333;
}
