.label {
  display: inline-block;
  margin: 0 30px 0 10px;
}

.row {
  margin-bottom: 30px;
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 30px;

  & > div {
    margin-right: 20px;
    flex: 1 1 auto;
    max-width: 280px;

    &:first-child {
      max-width: 120px;
    }
  }
}
